<div class="row">
    <h1 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Educacion</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>
                <h2>Estudio 1</h2>
                <h2> Anios</h2>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quam quidem assumenda eos quae tempore mollitia, consequatur similique praesentium officiis? Tenetur beatae qui magnam quis eos accusamus vero fuga tempore.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2>
                <h2> Anios</h2>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quam quidem assumenda eos quae tempore mollitia, consequatur similique praesentium officiis? Tenetur beatae qui magnam quis eos accusamus vero fuga tempore.</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 3</h2>
                <h2> Anios</h2>
            </li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor quam quidem assumenda eos quae tempore mollitia, consequatur similique praesentium officiis? Tenetur beatae qui magnam quis eos accusamus vero fuga tempore.</p>
        </ul>
    </div>
</div>