<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 container">
        <div class="logo">
            <img src="../../../assets/logoargentinaprograma.png" alt="Logo Argentina Programa" id="logoap">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/logogithub.png" alt="Logo GitHub"></a>
            <a href=""><img src="../../../assets/logoinstagram.png" alt="Logo Instagram"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="../../../assets/banner.png" alt="" id="banner">
    </div>
</div>