<div class="row">
  <h1 class="col-sm-12 col-md-12 col-lg-12">Hard and Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#0040ff'"
    [outerStrokeGradientStopColor]="'#ff00ea'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
  </div>
</div>